@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Courier Prime", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #44f79b !important;
  color: #0c0c0b !important;
}

img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.normalFont {
  font-family: sans-serif;
}

.boldFont {
  font-family: Impact, sans-serif;
}

.lightBlack {
  color: #6c6c74;
}

.lightBg {
  background-color: #000000;
}

textarea:focus, input:focus{
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}

.slick-track {
  display: flex;
  gap: 3px !important;
}

@media (min-width: 48rem) {
  .customFontSize {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 6vw;
    margin-top: 3vw;
  }
}

.text-primary-200 {
  --tw-text-opacity: 1;
  color: rgb(242 242 242 / var(--tw-text-opacity));
}
.text-works-title {
  font-size: clamp(1.25rem,2vw,1.5rem);
  font-family: sans-serif;
}
.text-secondary-600 {
  --tw-text-opacity: 1;
  color: rgb(140 140 115 / var(--tw-text-opacity));
}
.text-body-2 {
  font-size: clamp(0.8rem,1.3vw,1.3rem);
  font-family: sans-serif;
}
.font-light {
  font-weight: 300;
}
.text-primary-400 {
  --tw-text-opacity: 1;
  color: rgb(217 217 217 / var(--tw-text-opacity));
}
.text-body-4 {
  font-size: clamp(.75rem,3vw,1rem);
}

.border-secondary-600 {
  --tw-border-opacity: 1;
  border-color: rgb(140 140 115 / var(--tw-border-opacity));
}
